*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Nav Bar */
a {
  color: #fff;
  text-decoration: none;
}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
  width: 100%;
}
/* 
#navbar a{   /* nav link text color */
  /* color: #fff; 
} */

 #navbar h1 {    /*this is for the logo */
  float: left;
  padding-top: 20px;
  padding-left: 20px;  
}  

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;

}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color:#18b0b0;
  color: white;
}
/* Home Page */

/* Slideshow */
.slide-container{
  width: 80%;
height: 100%;
margin: 0 auto

}

.slides {
  width: 100%;
  border: solid aqua;
  height: 100%;
  position: relative;
}

.container-two {
  width: 100%;
  height: 100%;
}
.img-slides {
  width: 100%;
  height: 700px;
}

/* 
.active {
background-color: #717171;
} */ 

/* Footer */

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
  margin-top: 100px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  text-align:center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


/* Products Page */
.price-filter{
  padding: 20px ;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px ;
  grid-template-rows: 400px 400px 400px 400px;
  width: 100%;
  
}

.grid-container > div {
  background-color:#fcf8f3;
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  border: solid #7d5e2a;
  width: 100%;
}

.images{
  width: 130px;
  height: 130px;
}

h2 {
    font-size: 20px;
}

p {
    color:#231903;
}

/* Contact Page */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #fcf8ff;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background:lightblue;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

/* .cards {
 width: 100%;
} */
/* 
/* @media only screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 200px 200px 200px 200px 200px 200px ;
   
    width: 50%;

   }
  /* .grid-container > div {
   width: 70%;
   /* float: right; */
  /* } */
  /* #main-footer{ width: 135%;
    float: left;
  } */
   
  /* .cards{width: 50%;
   height:100% ;
  }
/* } */ 